<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>


<body>

    <div class="main-content">
        {{>header}}
        <p>This Site is Created by Pramod R Adne, It uses data from mapbox.com and darksky.net</p>
        <img class="imgclasss" src="/img/images-of-sai-pallavi-41480.jpg" alt="">

    </div>

    {{>footer}}
</body>

</html>